NEXT_PUBLIC_API_URL=https://api.example.com/api
NEXT_PUBLIC_SITE_URL=https://www.example.com
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your-google-recaptcha-site-key
NEXT_PUBLIC_YOUTUBE_CHANNEL_URL=https://www.youtube.com/@Taramaaindia
NEXT_PUBLIC_CONTACT_EMAIL=taramaasolutions2025@gmail.com
NEXT_PUBLIC_CONTACT_PHONE=+91 75950 56476
